SECRET_KEY=cambia-esto-por-una-clave-secreta-propia
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=controldocentes
DB_USER=controldocentes_app
DB_PASSWORD=cambia-esta-contrasena
DB_HOST=localhost
DB_PORT=5432

BIOMETRICO_IP=192.168.101.200
BIOMETRICO_PORT=4370

TOLERANCIA_TARDANZA_MINUTOS=20
